<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="tailwind.css" rel="stylesheet">
    <title>{{ title }} | Ably Specification</title>
  </head>
  <body>
    <div class="my-1 mx-4">
      <h1>Ably Specification: {{ title }}</h1>
      <ul>
      {{#each file_names as |file_name|}}
        <li>
          <a href="{{ file_name }}/">
            {{ file_name }}
          </a>
        </li>
      {{/each}}
      </ul>
    </div>
  </body>
</html>
